# Binaries
bin/
*.exe
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.txt

# Editor
.idea/
.vscode/
*.swp

# Env
.env
.env.local

# OS
.DS_Store

# Docker volumes
postgres_users_data/
postgres_books_data/
postgres_borrows_data/
redis_data/